 <div class="main-content">

    
    <aside class="sidebar">

      <button class="new-btn" (click) = "toggleDropdown()">
        <i class="fas fa-plus-circle icon-medium"></i>
        <span>New</span>
      </button>

      <div class="dropdown" *ngIf = "dropdownOpen">
         <button class="dropdown-item" (click) ="openFilePicker(fileInput)">
          <i class="fas fa-file-upload"></i>
          <span>Upload file</span>
         </button>
      <button class="dropdown-item" (click) = "openCreateFolder()">
       <i class="fas fa-folder-plus"></i>
       <span>New folder</span>
      </button>
    </div>
      <input #fileInput type="file" class="hidden-file-input"(change) = "openFileSelected($event)"/>
      <div class="modal-backdrop" *ngIf="showFolderModel" (click) = "closeFolderModel()">
        <div class="modal" (click) = "$event.stopPropagation()">
          <h3>Create Folder</h3>
          <label class="label">Folder Name</label>
          <input class="input" [(ngModel)] = "folderName" placeholder="folder Name">
           
          <div class="modal-actions">
            <button class="btn" (click) = "closeFolderModel()" [disabled]="isCreating">Cancel</button>
            <button class="btn primary" (click) = "createFolder()"[disabled] = "isCreating">
              {{isCreating ? 'Creating...': 'Create'}}
            </button>
          </div>

        </div>
      </div>
      <nav class="sidebar-nav">
        <a routerLink="/my-drive" routerLinkActive="active" class="nav-item">
          <i class="fas fa-hdd"></i>
          <span>My Drive</span>
        </a>

        <a routerLink="/shared-with-me" routerLinkActive="active" class="nav-item">
          <i class="fas fa-user-friends"></i>
          <span>Shared with me</span>
        </a>

        <a routerLink="/shared-by-me" routerLinkActive="active" class="nav-item">
          <i class="fas fa-user-plus"></i>
          <span>Shared by me</span>
        </a>
       <!----
        <a routerLink="/recent" routerLinkActive="active" class="nav-item">
          <i class="fas fa-clock"></i>
          <span>Recent</span>
        </a>
      --->

        <a routerLink="/favourite" routerLinkActive="active" class="nav-item">
          <i class="fas fa-star"></i>
          <span>Favourite</span>
        </a>

        <a routerLink="/trash" routerLinkActive="active" class="nav-item">
          <i class="fas fa-trash"></i>
          <span>Trash</span>
        </a>

        <a routerLink="/admin" routerLinkActive="active" class="nav-item">
          <i class="fas fa-user-tie"></i>
          <span>User Management</span>
        </a>
      </nav>

      <div class="storage-info">
        <div class="storage-bar">
          <div class="storage-used" style="width: 35%"></div>
        </div>
        <p class="storage-text">0.0 GB of 15 GB used</p>
        <h4>Storage</h4>
      </div>

    </aside>
    <main class="content-area">
    </main>